.grid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid.xs-gutter-2 {
  margin-right: -1px;
  margin-left: -1px;
}
.grid.xs-gutter-2 > .item {
  padding-right: 1px;
  padding-left: 1px;
}

.grid.xs-gutter-4 {
  margin-right: -2px;
  margin-left: -2px;
}
.grid.xs-gutter-4 > .item {
  padding-right: 2px;
  padding-left: 2px;
}

.grid.xs-gutter-6 {
  margin-right: -3px;
  margin-left: -3px;
}
.grid.xs-gutter-6 > .item {
  padding-right: 3px;
  padding-left: 3px;
}

.grid.xs-gutter-8 {
  margin-right: -4px;
  margin-left: -4px;
}
.grid.xs-gutter-8 > .item {
  padding-right: 4px;
  padding-left: 4px;
}

.grid.xs-gutter-10 {
  margin-right: -5px;
  margin-left: -5px;
}
.grid.xs-gutter-10 > .item {
  padding-right: 5px;
  padding-left: 5px;
}

.grid.xs-gutter-12 {
  margin-right: -6px;
  margin-left: -6px;
}
.grid.xs-gutter-12 > .item {
  padding-right: 6px;
  padding-left: 6px;
}

.grid.xs-gutter-14 {
  margin-right: -7px;
  margin-left: -7px;
}
.grid.xs-gutter-14 > .item {
  padding-right: 7px;
  padding-left: 7px;
}

.grid.xs-gutter-16 {
  margin-right: -8px;
  margin-left: -8px;
}
.grid.xs-gutter-16 > .item {
  padding-right: 8px;
  padding-left: 8px;
}

.grid.xs-gutter-18 {
  margin-right: -9px;
  margin-left: -9px;
}
.grid.xs-gutter-18 > .item {
  padding-right: 9px;
  padding-left: 9px;
}

.grid.xs-gutter-20 {
  margin-right: -10px;
  margin-left: -10px;
}
.grid.xs-gutter-20 > .item {
  padding-right: 10px;
  padding-left: 10px;
}

.grid.xs-gutter-22 {
  margin-right: -11px;
  margin-left: -11px;
}
.grid.xs-gutter-22 > .item {
  padding-right: 11px;
  padding-left: 11px;
}

.grid.xs-gutter-24 {
  margin-right: -12px;
  margin-left: -12px;
}
.grid.xs-gutter-24 > .item {
  padding-right: 12px;
  padding-left: 12px;
}

.grid.xs-gutter-26 {
  margin-right: -13px;
  margin-left: -13px;
}
.grid.xs-gutter-26 > .item {
  padding-right: 13px;
  padding-left: 13px;
}

.grid.xs-gutter-28 {
  margin-right: -14px;
  margin-left: -14px;
}
.grid.xs-gutter-28 > .item {
  padding-right: 14px;
  padding-left: 14px;
}

.grid.xs-gutter-30 {
  margin-right: -15px;
  margin-left: -15px;
}
.grid.xs-gutter-30 > .item {
  padding-right: 15px;
  padding-left: 15px;
}

.grid.xs-gutter-32 {
  margin-right: -16px;
  margin-left: -16px;
}
.grid.xs-gutter-32 > .item {
  padding-right: 16px;
  padding-left: 16px;
}

.grid.xs-gutter-34 {
  margin-right: -17px;
  margin-left: -17px;
}
.grid.xs-gutter-34 > .item {
  padding-right: 17px;
  padding-left: 17px;
}

.grid.xs-gutter-36 {
  margin-right: -18px;
  margin-left: -18px;
}
.grid.xs-gutter-36 > .item {
  padding-right: 18px;
  padding-left: 18px;
}

.grid.xs-gutter-38 {
  margin-right: -19px;
  margin-left: -19px;
}
.grid.xs-gutter-38 > .item {
  padding-right: 19px;
  padding-left: 19px;
}

.grid.xs-gutter-40 {
  margin-right: -20px;
  margin-left: -20px;
}
.grid.xs-gutter-40 > .item {
  padding-right: 20px;
  padding-left: 20px;
}

.grid.xs-gutter-42 {
  margin-right: -21px;
  margin-left: -21px;
}
.grid.xs-gutter-42 > .item {
  padding-right: 21px;
  padding-left: 21px;
}

.grid.xs-gutter-44 {
  margin-right: -22px;
  margin-left: -22px;
}
.grid.xs-gutter-44 > .item {
  padding-right: 22px;
  padding-left: 22px;
}

.grid.xs-gutter-46 {
  margin-right: -23px;
  margin-left: -23px;
}
.grid.xs-gutter-46 > .item {
  padding-right: 23px;
  padding-left: 23px;
}

.grid.xs-gutter-48 {
  margin-right: -24px;
  margin-left: -24px;
}
.grid.xs-gutter-48 > .item {
  padding-right: 24px;
  padding-left: 24px;
}

.grid.xs-gutter-50 {
  margin-right: -25px;
  margin-left: -25px;
}
.grid.xs-gutter-50 > .item {
  padding-right: 25px;
  padding-left: 25px;
}

.grid.xs-gutter-52 {
  margin-right: -26px;
  margin-left: -26px;
}
.grid.xs-gutter-52 > .item {
  padding-right: 26px;
  padding-left: 26px;
}

.grid.xs-gutter-54 {
  margin-right: -27px;
  margin-left: -27px;
}
.grid.xs-gutter-54 > .item {
  padding-right: 27px;
  padding-left: 27px;
}

.grid.xs-gutter-56 {
  margin-right: -28px;
  margin-left: -28px;
}
.grid.xs-gutter-56 > .item {
  padding-right: 28px;
  padding-left: 28px;
}

.grid.xs-gutter-58 {
  margin-right: -29px;
  margin-left: -29px;
}
.grid.xs-gutter-58 > .item {
  padding-right: 29px;
  padding-left: 29px;
}

.grid.xs-gutter-60 {
  margin-right: -30px;
  margin-left: -30px;
}
.grid.xs-gutter-60 > .item {
  padding-right: 30px;
  padding-left: 30px;
}

@media (min-width: 768px) {
  .grid.sm-gutter-2 {
    margin-right: -1px;
    margin-left: -1px;
  }
  .grid.sm-gutter-2 > .item {
    padding-right: 1px;
    padding-left: 1px;
  }

  .grid.sm-gutter-4 {
    margin-right: -2px;
    margin-left: -2px;
  }
  .grid.sm-gutter-4 > .item {
    padding-right: 2px;
    padding-left: 2px;
  }

  .grid.sm-gutter-6 {
    margin-right: -3px;
    margin-left: -3px;
  }
  .grid.sm-gutter-6 > .item {
    padding-right: 3px;
    padding-left: 3px;
  }

  .grid.sm-gutter-8 {
    margin-right: -4px;
    margin-left: -4px;
  }
  .grid.sm-gutter-8 > .item {
    padding-right: 4px;
    padding-left: 4px;
  }

  .grid.sm-gutter-10 {
    margin-right: -5px;
    margin-left: -5px;
  }
  .grid.sm-gutter-10 > .item {
    padding-right: 5px;
    padding-left: 5px;
  }

  .grid.sm-gutter-12 {
    margin-right: -6px;
    margin-left: -6px;
  }
  .grid.sm-gutter-12 > .item {
    padding-right: 6px;
    padding-left: 6px;
  }

  .grid.sm-gutter-14 {
    margin-right: -7px;
    margin-left: -7px;
  }
  .grid.sm-gutter-14 > .item {
    padding-right: 7px;
    padding-left: 7px;
  }

  .grid.sm-gutter-16 {
    margin-right: -8px;
    margin-left: -8px;
  }
  .grid.sm-gutter-16 > .item {
    padding-right: 8px;
    padding-left: 8px;
  }

  .grid.sm-gutter-18 {
    margin-right: -9px;
    margin-left: -9px;
  }
  .grid.sm-gutter-18 > .item {
    padding-right: 9px;
    padding-left: 9px;
  }

  .grid.sm-gutter-20 {
    margin-right: -10px;
    margin-left: -10px;
  }
  .grid.sm-gutter-20 > .item {
    padding-right: 10px;
    padding-left: 10px;
  }

  .grid.sm-gutter-22 {
    margin-right: -11px;
    margin-left: -11px;
  }
  .grid.sm-gutter-22 > .item {
    padding-right: 11px;
    padding-left: 11px;
  }

  .grid.sm-gutter-24 {
    margin-right: -12px;
    margin-left: -12px;
  }
  .grid.sm-gutter-24 > .item {
    padding-right: 12px;
    padding-left: 12px;
  }

  .grid.sm-gutter-26 {
    margin-right: -13px;
    margin-left: -13px;
  }
  .grid.sm-gutter-26 > .item {
    padding-right: 13px;
    padding-left: 13px;
  }

  .grid.sm-gutter-28 {
    margin-right: -14px;
    margin-left: -14px;
  }
  .grid.sm-gutter-28 > .item {
    padding-right: 14px;
    padding-left: 14px;
  }

  .grid.sm-gutter-30 {
    margin-right: -15px;
    margin-left: -15px;
  }
  .grid.sm-gutter-30 > .item {
    padding-right: 15px;
    padding-left: 15px;
  }

  .grid.sm-gutter-32 {
    margin-right: -16px;
    margin-left: -16px;
  }
  .grid.sm-gutter-32 > .item {
    padding-right: 16px;
    padding-left: 16px;
  }

  .grid.sm-gutter-34 {
    margin-right: -17px;
    margin-left: -17px;
  }
  .grid.sm-gutter-34 > .item {
    padding-right: 17px;
    padding-left: 17px;
  }

  .grid.sm-gutter-36 {
    margin-right: -18px;
    margin-left: -18px;
  }
  .grid.sm-gutter-36 > .item {
    padding-right: 18px;
    padding-left: 18px;
  }

  .grid.sm-gutter-38 {
    margin-right: -19px;
    margin-left: -19px;
  }
  .grid.sm-gutter-38 > .item {
    padding-right: 19px;
    padding-left: 19px;
  }

  .grid.sm-gutter-40 {
    margin-right: -20px;
    margin-left: -20px;
  }
  .grid.sm-gutter-40 > .item {
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid.sm-gutter-42 {
    margin-right: -21px;
    margin-left: -21px;
  }
  .grid.sm-gutter-42 > .item {
    padding-right: 21px;
    padding-left: 21px;
  }

  .grid.sm-gutter-44 {
    margin-right: -22px;
    margin-left: -22px;
  }
  .grid.sm-gutter-44 > .item {
    padding-right: 22px;
    padding-left: 22px;
  }

  .grid.sm-gutter-46 {
    margin-right: -23px;
    margin-left: -23px;
  }
  .grid.sm-gutter-46 > .item {
    padding-right: 23px;
    padding-left: 23px;
  }

  .grid.sm-gutter-48 {
    margin-right: -24px;
    margin-left: -24px;
  }
  .grid.sm-gutter-48 > .item {
    padding-right: 24px;
    padding-left: 24px;
  }

  .grid.sm-gutter-50 {
    margin-right: -25px;
    margin-left: -25px;
  }
  .grid.sm-gutter-50 > .item {
    padding-right: 25px;
    padding-left: 25px;
  }

  .grid.sm-gutter-52 {
    margin-right: -26px;
    margin-left: -26px;
  }
  .grid.sm-gutter-52 > .item {
    padding-right: 26px;
    padding-left: 26px;
  }

  .grid.sm-gutter-54 {
    margin-right: -27px;
    margin-left: -27px;
  }
  .grid.sm-gutter-54 > .item {
    padding-right: 27px;
    padding-left: 27px;
  }

  .grid.sm-gutter-56 {
    margin-right: -28px;
    margin-left: -28px;
  }
  .grid.sm-gutter-56 > .item {
    padding-right: 28px;
    padding-left: 28px;
  }

  .grid.sm-gutter-58 {
    margin-right: -29px;
    margin-left: -29px;
  }
  .grid.sm-gutter-58 > .item {
    padding-right: 29px;
    padding-left: 29px;
  }

  .grid.sm-gutter-60 {
    margin-right: -30px;
    margin-left: -30px;
  }
  .grid.sm-gutter-60 > .item {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  .grid.md-gutter-2 {
    margin-right: -1px;
    margin-left: -1px;
  }
  .grid.md-gutter-2 > .item {
    padding-right: 1px;
    padding-left: 1px;
  }

  .grid.md-gutter-4 {
    margin-right: -2px;
    margin-left: -2px;
  }
  .grid.md-gutter-4 > .item {
    padding-right: 2px;
    padding-left: 2px;
  }

  .grid.md-gutter-6 {
    margin-right: -3px;
    margin-left: -3px;
  }
  .grid.md-gutter-6 > .item {
    padding-right: 3px;
    padding-left: 3px;
  }

  .grid.md-gutter-8 {
    margin-right: -4px;
    margin-left: -4px;
  }
  .grid.md-gutter-8 > .item {
    padding-right: 4px;
    padding-left: 4px;
  }

  .grid.md-gutter-10 {
    margin-right: -5px;
    margin-left: -5px;
  }
  .grid.md-gutter-10 > .item {
    padding-right: 5px;
    padding-left: 5px;
  }

  .grid.md-gutter-12 {
    margin-right: -6px;
    margin-left: -6px;
  }
  .grid.md-gutter-12 > .item {
    padding-right: 6px;
    padding-left: 6px;
  }

  .grid.md-gutter-14 {
    margin-right: -7px;
    margin-left: -7px;
  }
  .grid.md-gutter-14 > .item {
    padding-right: 7px;
    padding-left: 7px;
  }

  .grid.md-gutter-16 {
    margin-right: -8px;
    margin-left: -8px;
  }
  .grid.md-gutter-16 > .item {
    padding-right: 8px;
    padding-left: 8px;
  }

  .grid.md-gutter-18 {
    margin-right: -9px;
    margin-left: -9px;
  }
  .grid.md-gutter-18 > .item {
    padding-right: 9px;
    padding-left: 9px;
  }

  .grid.md-gutter-20 {
    margin-right: -10px;
    margin-left: -10px;
  }
  .grid.md-gutter-20 > .item {
    padding-right: 10px;
    padding-left: 10px;
  }

  .grid.md-gutter-22 {
    margin-right: -11px;
    margin-left: -11px;
  }
  .grid.md-gutter-22 > .item {
    padding-right: 11px;
    padding-left: 11px;
  }

  .grid.md-gutter-24 {
    margin-right: -12px;
    margin-left: -12px;
  }
  .grid.md-gutter-24 > .item {
    padding-right: 12px;
    padding-left: 12px;
  }

  .grid.md-gutter-26 {
    margin-right: -13px;
    margin-left: -13px;
  }
  .grid.md-gutter-26 > .item {
    padding-right: 13px;
    padding-left: 13px;
  }

  .grid.md-gutter-28 {
    margin-right: -14px;
    margin-left: -14px;
  }
  .grid.md-gutter-28 > .item {
    padding-right: 14px;
    padding-left: 14px;
  }

  .grid.md-gutter-30 {
    margin-right: -15px;
    margin-left: -15px;
  }
  .grid.md-gutter-30 > .item {
    padding-right: 15px;
    padding-left: 15px;
  }

  .grid.md-gutter-32 {
    margin-right: -16px;
    margin-left: -16px;
  }
  .grid.md-gutter-32 > .item {
    padding-right: 16px;
    padding-left: 16px;
  }

  .grid.md-gutter-34 {
    margin-right: -17px;
    margin-left: -17px;
  }
  .grid.md-gutter-34 > .item {
    padding-right: 17px;
    padding-left: 17px;
  }

  .grid.md-gutter-36 {
    margin-right: -18px;
    margin-left: -18px;
  }
  .grid.md-gutter-36 > .item {
    padding-right: 18px;
    padding-left: 18px;
  }

  .grid.md-gutter-38 {
    margin-right: -19px;
    margin-left: -19px;
  }
  .grid.md-gutter-38 > .item {
    padding-right: 19px;
    padding-left: 19px;
  }

  .grid.md-gutter-40 {
    margin-right: -20px;
    margin-left: -20px;
  }
  .grid.md-gutter-40 > .item {
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid.md-gutter-42 {
    margin-right: -21px;
    margin-left: -21px;
  }
  .grid.md-gutter-42 > .item {
    padding-right: 21px;
    padding-left: 21px;
  }

  .grid.md-gutter-44 {
    margin-right: -22px;
    margin-left: -22px;
  }
  .grid.md-gutter-44 > .item {
    padding-right: 22px;
    padding-left: 22px;
  }

  .grid.md-gutter-46 {
    margin-right: -23px;
    margin-left: -23px;
  }
  .grid.md-gutter-46 > .item {
    padding-right: 23px;
    padding-left: 23px;
  }

  .grid.md-gutter-48 {
    margin-right: -24px;
    margin-left: -24px;
  }
  .grid.md-gutter-48 > .item {
    padding-right: 24px;
    padding-left: 24px;
  }

  .grid.md-gutter-50 {
    margin-right: -25px;
    margin-left: -25px;
  }
  .grid.md-gutter-50 > .item {
    padding-right: 25px;
    padding-left: 25px;
  }

  .grid.md-gutter-52 {
    margin-right: -26px;
    margin-left: -26px;
  }
  .grid.md-gutter-52 > .item {
    padding-right: 26px;
    padding-left: 26px;
  }

  .grid.md-gutter-54 {
    margin-right: -27px;
    margin-left: -27px;
  }
  .grid.md-gutter-54 > .item {
    padding-right: 27px;
    padding-left: 27px;
  }

  .grid.md-gutter-56 {
    margin-right: -28px;
    margin-left: -28px;
  }
  .grid.md-gutter-56 > .item {
    padding-right: 28px;
    padding-left: 28px;
  }

  .grid.md-gutter-58 {
    margin-right: -29px;
    margin-left: -29px;
  }
  .grid.md-gutter-58 > .item {
    padding-right: 29px;
    padding-left: 29px;
  }

  .grid.md-gutter-60 {
    margin-right: -30px;
    margin-left: -30px;
  }
  .grid.md-gutter-60 > .item {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 1200px) {
  .grid.lg-gutter-2 {
    margin-right: -1px;
    margin-left: -1px;
  }
  .grid.lg-gutter-2 > .item {
    padding-right: 1px;
    padding-left: 1px;
  }

  .grid.lg-gutter-4 {
    margin-right: -2px;
    margin-left: -2px;
  }
  .grid.lg-gutter-4 > .item {
    padding-right: 2px;
    padding-left: 2px;
  }

  .grid.lg-gutter-6 {
    margin-right: -3px;
    margin-left: -3px;
  }
  .grid.lg-gutter-6 > .item {
    padding-right: 3px;
    padding-left: 3px;
  }

  .grid.lg-gutter-8 {
    margin-right: -4px;
    margin-left: -4px;
  }
  .grid.lg-gutter-8 > .item {
    padding-right: 4px;
    padding-left: 4px;
  }

  .grid.lg-gutter-10 {
    margin-right: -5px;
    margin-left: -5px;
  }
  .grid.lg-gutter-10 > .item {
    padding-right: 5px;
    padding-left: 5px;
  }

  .grid.lg-gutter-12 {
    margin-right: -6px;
    margin-left: -6px;
  }
  .grid.lg-gutter-12 > .item {
    padding-right: 6px;
    padding-left: 6px;
  }

  .grid.lg-gutter-14 {
    margin-right: -7px;
    margin-left: -7px;
  }
  .grid.lg-gutter-14 > .item {
    padding-right: 7px;
    padding-left: 7px;
  }

  .grid.lg-gutter-16 {
    margin-right: -8px;
    margin-left: -8px;
  }
  .grid.lg-gutter-16 > .item {
    padding-right: 8px;
    padding-left: 8px;
  }

  .grid.lg-gutter-18 {
    margin-right: -9px;
    margin-left: -9px;
  }
  .grid.lg-gutter-18 > .item {
    padding-right: 9px;
    padding-left: 9px;
  }

  .grid.lg-gutter-20 {
    margin-right: -10px;
    margin-left: -10px;
  }
  .grid.lg-gutter-20 > .item {
    padding-right: 10px;
    padding-left: 10px;
  }

  .grid.lg-gutter-22 {
    margin-right: -11px;
    margin-left: -11px;
  }
  .grid.lg-gutter-22 > .item {
    padding-right: 11px;
    padding-left: 11px;
  }

  .grid.lg-gutter-24 {
    margin-right: -12px;
    margin-left: -12px;
  }
  .grid.lg-gutter-24 > .item {
    padding-right: 12px;
    padding-left: 12px;
  }

  .grid.lg-gutter-26 {
    margin-right: -13px;
    margin-left: -13px;
  }
  .grid.lg-gutter-26 > .item {
    padding-right: 13px;
    padding-left: 13px;
  }

  .grid.lg-gutter-28 {
    margin-right: -14px;
    margin-left: -14px;
  }
  .grid.lg-gutter-28 > .item {
    padding-right: 14px;
    padding-left: 14px;
  }

  .grid.lg-gutter-30 {
    margin-right: -15px;
    margin-left: -15px;
  }
  .grid.lg-gutter-30 > .item {
    padding-right: 15px;
    padding-left: 15px;
  }

  .grid.lg-gutter-32 {
    margin-right: -16px;
    margin-left: -16px;
  }
  .grid.lg-gutter-32 > .item {
    padding-right: 16px;
    padding-left: 16px;
  }

  .grid.lg-gutter-34 {
    margin-right: -17px;
    margin-left: -17px;
  }
  .grid.lg-gutter-34 > .item {
    padding-right: 17px;
    padding-left: 17px;
  }

  .grid.lg-gutter-36 {
    margin-right: -18px;
    margin-left: -18px;
  }
  .grid.lg-gutter-36 > .item {
    padding-right: 18px;
    padding-left: 18px;
  }

  .grid.lg-gutter-38 {
    margin-right: -19px;
    margin-left: -19px;
  }
  .grid.lg-gutter-38 > .item {
    padding-right: 19px;
    padding-left: 19px;
  }

  .grid.lg-gutter-40 {
    margin-right: -20px;
    margin-left: -20px;
  }
  .grid.lg-gutter-40 > .item {
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid.lg-gutter-42 {
    margin-right: -21px;
    margin-left: -21px;
  }
  .grid.lg-gutter-42 > .item {
    padding-right: 21px;
    padding-left: 21px;
  }

  .grid.lg-gutter-44 {
    margin-right: -22px;
    margin-left: -22px;
  }
  .grid.lg-gutter-44 > .item {
    padding-right: 22px;
    padding-left: 22px;
  }

  .grid.lg-gutter-46 {
    margin-right: -23px;
    margin-left: -23px;
  }
  .grid.lg-gutter-46 > .item {
    padding-right: 23px;
    padding-left: 23px;
  }

  .grid.lg-gutter-48 {
    margin-right: -24px;
    margin-left: -24px;
  }
  .grid.lg-gutter-48 > .item {
    padding-right: 24px;
    padding-left: 24px;
  }

  .grid.lg-gutter-50 {
    margin-right: -25px;
    margin-left: -25px;
  }
  .grid.lg-gutter-50 > .item {
    padding-right: 25px;
    padding-left: 25px;
  }

  .grid.lg-gutter-52 {
    margin-right: -26px;
    margin-left: -26px;
  }
  .grid.lg-gutter-52 > .item {
    padding-right: 26px;
    padding-left: 26px;
  }

  .grid.lg-gutter-54 {
    margin-right: -27px;
    margin-left: -27px;
  }
  .grid.lg-gutter-54 > .item {
    padding-right: 27px;
    padding-left: 27px;
  }

  .grid.lg-gutter-56 {
    margin-right: -28px;
    margin-left: -28px;
  }
  .grid.lg-gutter-56 > .item {
    padding-right: 28px;
    padding-left: 28px;
  }

  .grid.lg-gutter-58 {
    margin-right: -29px;
    margin-left: -29px;
  }
  .grid.lg-gutter-58 > .item {
    padding-right: 29px;
    padding-left: 29px;
  }

  .grid.lg-gutter-60 {
    margin-right: -30px;
    margin-left: -30px;
  }
  .grid.lg-gutter-60 > .item {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.item {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.item.xs-1-24 {
  float: left;
}

.item.xs-2-24 {
  float: left;
}

.item.xs-3-24 {
  float: left;
}

.item.xs-4-24 {
  float: left;
}

.item.xs-5-24 {
  float: left;
}

.item.xs-6-24 {
  float: left;
}

.item.xs-7-24 {
  float: left;
}

.item.xs-8-24 {
  float: left;
}

.item.xs-9-24 {
  float: left;
}

.item.xs-10-24 {
  float: left;
}

.item.xs-11-24 {
  float: left;
}

.item.xs-12-24 {
  float: left;
}

.item.xs-13-24 {
  float: left;
}

.item.xs-14-24 {
  float: left;
}

.item.xs-15-24 {
  float: left;
}

.item.xs-16-24 {
  float: left;
}

.item.xs-17-24 {
  float: left;
}

.item.xs-18-24 {
  float: left;
}

.item.xs-19-24 {
  float: left;
}

.item.xs-20-24 {
  float: left;
}

.item.xs-21-24 {
  float: left;
}

.item.xs-22-24 {
  float: left;
}

.item.xs-23-24 {
  float: left;
}

.item.xs-24-24 {
  float: left;
}

.item.xs-1-24 {
  width: 4.16667%;
}

.item.xs-2-24 {
  width: 8.33333%;
}

.item.xs-3-24 {
  width: 12.5%;
}

.item.xs-4-24 {
  width: 16.66667%;
}

.item.xs-5-24 {
  width: 20.83333%;
}

.item.xs-6-24 {
  width: 25%;
}

.item.xs-7-24 {
  width: 29.16667%;
}

.item.xs-8-24 {
  width: 33.33333%;
}

.item.xs-9-24 {
  width: 37.5%;
}

.item.xs-10-24 {
  width: 41.66667%;
}

.item.xs-11-24 {
  width: 45.83333%;
}

.item.xs-12-24 {
  width: 50%;
}

.item.xs-13-24 {
  width: 54.16667%;
}

.item.xs-14-24 {
  width: 58.33333%;
}

.item.xs-15-24 {
  width: 62.5%;
}

.item.xs-16-24 {
  width: 66.66667%;
}

.item.xs-17-24 {
  width: 70.83333%;
}

.item.xs-18-24 {
  width: 75%;
}

.item.xs-19-24 {
  width: 79.16667%;
}

.item.xs-20-24 {
  width: 83.33333%;
}

.item.xs-21-24 {
  width: 87.5%;
}

.item.xs-22-24 {
  width: 91.66667%;
}

.item.xs-23-24 {
  width: 95.83333%;
}

.item.xs-24-24 {
  width: 100%;
}

.item.xs-push-0 {
  left: auto;
}

.item.xs-push-1-24 {
  left: 4.16667%;
}

.item.xs-push-2-24 {
  left: 8.33333%;
}

.item.xs-push-3-24 {
  left: 12.5%;
}

.item.xs-push-4-24 {
  left: 16.66667%;
}

.item.xs-push-5-24 {
  left: 20.83333%;
}

.item.xs-push-6-24 {
  left: 25%;
}

.item.xs-push-7-24 {
  left: 29.16667%;
}

.item.xs-push-8-24 {
  left: 33.33333%;
}

.item.xs-push-9-24 {
  left: 37.5%;
}

.item.xs-push-10-24 {
  left: 41.66667%;
}

.item.xs-push-11-24 {
  left: 45.83333%;
}

.item.xs-push-12-24 {
  left: 50%;
}

.item.xs-push-13-24 {
  left: 54.16667%;
}

.item.xs-push-14-24 {
  left: 58.33333%;
}

.item.xs-push-15-24 {
  left: 62.5%;
}

.item.xs-push-16-24 {
  left: 66.66667%;
}

.item.xs-push-17-24 {
  left: 70.83333%;
}

.item.xs-push-18-24 {
  left: 75%;
}

.item.xs-push-19-24 {
  left: 79.16667%;
}

.item.xs-push-20-24 {
  left: 83.33333%;
}

.item.xs-push-21-24 {
  left: 87.5%;
}

.item.xs-push-22-24 {
  left: 91.66667%;
}

.item.xs-push-23-24 {
  left: 95.83333%;
}

.item.xs-push-24-24 {
  left: 100%;
}

.item.xs-pull-0 {
  right: auto;
}

.item.xs-push-1-24 {
  right: 4.16667%;
}

.item.xs-push-2-24 {
  right: 8.33333%;
}

.item.xs-push-3-24 {
  right: 12.5%;
}

.item.xs-push-4-24 {
  right: 16.66667%;
}

.item.xs-push-5-24 {
  right: 20.83333%;
}

.item.xs-push-6-24 {
  right: 25%;
}

.item.xs-push-7-24 {
  right: 29.16667%;
}

.item.xs-push-8-24 {
  right: 33.33333%;
}

.item.xs-push-9-24 {
  right: 37.5%;
}

.item.xs-push-10-24 {
  right: 41.66667%;
}

.item.xs-push-11-24 {
  right: 45.83333%;
}

.item.xs-push-12-24 {
  right: 50%;
}

.item.xs-push-13-24 {
  right: 54.16667%;
}

.item.xs-push-14-24 {
  right: 58.33333%;
}

.item.xs-push-15-24 {
  right: 62.5%;
}

.item.xs-push-16-24 {
  right: 66.66667%;
}

.item.xs-push-17-24 {
  right: 70.83333%;
}

.item.xs-push-18-24 {
  right: 75%;
}

.item.xs-push-19-24 {
  right: 79.16667%;
}

.item.xs-push-20-24 {
  right: 83.33333%;
}

.item.xs-push-21-24 {
  right: 87.5%;
}

.item.xs-push-22-24 {
  right: 91.66667%;
}

.item.xs-push-23-24 {
  right: 95.83333%;
}

.item.xs-push-24-24 {
  right: 100%;
}

.item.xs-offset-0-24 {
  margin-left: 0%;
}

.item.xs-offset-1-24 {
  margin-left: 4.16667%;
}

.item.xs-offset-2-24 {
  margin-left: 8.33333%;
}

.item.xs-offset-3-24 {
  margin-left: 12.5%;
}

.item.xs-offset-4-24 {
  margin-left: 16.66667%;
}

.item.xs-offset-5-24 {
  margin-left: 20.83333%;
}

.item.xs-offset-6-24 {
  margin-left: 25%;
}

.item.xs-offset-7-24 {
  margin-left: 29.16667%;
}

.item.xs-offset-8-24 {
  margin-left: 33.33333%;
}

.item.xs-offset-9-24 {
  margin-left: 37.5%;
}

.item.xs-offset-10-24 {
  margin-left: 41.66667%;
}

.item.xs-offset-11-24 {
  margin-left: 45.83333%;
}

.item.xs-offset-12-24 {
  margin-left: 50%;
}

.item.xs-offset-13-24 {
  margin-left: 54.16667%;
}

.item.xs-offset-14-24 {
  margin-left: 58.33333%;
}

.item.xs-offset-15-24 {
  margin-left: 62.5%;
}

.item.xs-offset-16-24 {
  margin-left: 66.66667%;
}

.item.xs-offset-17-24 {
  margin-left: 70.83333%;
}

.item.xs-offset-18-24 {
  margin-left: 75%;
}

.item.xs-offset-19-24 {
  margin-left: 79.16667%;
}

.item.xs-offset-20-24 {
  margin-left: 83.33333%;
}

.item.xs-offset-21-24 {
  margin-left: 87.5%;
}

.item.xs-offset-22-24 {
  margin-left: 91.66667%;
}

.item.xs-offset-23-24 {
  margin-left: 95.83333%;
}

.item.xs-offset-24-24 {
  margin-left: 100%;
}

.item.xs-1-12 {
  float: left;
}

.item.xs-2-12 {
  float: left;
}

.item.xs-3-12 {
  float: left;
}

.item.xs-4-12 {
  float: left;
}

.item.xs-5-12 {
  float: left;
}

.item.xs-6-12 {
  float: left;
}

.item.xs-7-12 {
  float: left;
}

.item.xs-8-12 {
  float: left;
}

.item.xs-9-12 {
  float: left;
}

.item.xs-10-12 {
  float: left;
}

.item.xs-11-12 {
  float: left;
}

.item.xs-12-12 {
  float: left;
}

.item.xs-1-12 {
  width: 8.33333%;
}

.item.xs-2-12 {
  width: 16.66667%;
}

.item.xs-3-12 {
  width: 25%;
}

.item.xs-4-12 {
  width: 33.33333%;
}

.item.xs-5-12 {
  width: 41.66667%;
}

.item.xs-6-12 {
  width: 50%;
}

.item.xs-7-12 {
  width: 58.33333%;
}

.item.xs-8-12 {
  width: 66.66667%;
}

.item.xs-9-12 {
  width: 75%;
}

.item.xs-10-12 {
  width: 83.33333%;
}

.item.xs-11-12 {
  width: 91.66667%;
}

.item.xs-12-12 {
  width: 100%;
}

.item.xs-push-0 {
  left: auto;
}

.item.xs-push-1-12 {
  left: 8.33333%;
}

.item.xs-push-2-12 {
  left: 16.66667%;
}

.item.xs-push-3-12 {
  left: 25%;
}

.item.xs-push-4-12 {
  left: 33.33333%;
}

.item.xs-push-5-12 {
  left: 41.66667%;
}

.item.xs-push-6-12 {
  left: 50%;
}

.item.xs-push-7-12 {
  left: 58.33333%;
}

.item.xs-push-8-12 {
  left: 66.66667%;
}

.item.xs-push-9-12 {
  left: 75%;
}

.item.xs-push-10-12 {
  left: 83.33333%;
}

.item.xs-push-11-12 {
  left: 91.66667%;
}

.item.xs-push-12-12 {
  left: 100%;
}

.item.xs-pull-0 {
  right: auto;
}

.item.xs-push-1-12 {
  right: 8.33333%;
}

.item.xs-push-2-12 {
  right: 16.66667%;
}

.item.xs-push-3-12 {
  right: 25%;
}

.item.xs-push-4-12 {
  right: 33.33333%;
}

.item.xs-push-5-12 {
  right: 41.66667%;
}

.item.xs-push-6-12 {
  right: 50%;
}

.item.xs-push-7-12 {
  right: 58.33333%;
}

.item.xs-push-8-12 {
  right: 66.66667%;
}

.item.xs-push-9-12 {
  right: 75%;
}

.item.xs-push-10-12 {
  right: 83.33333%;
}

.item.xs-push-11-12 {
  right: 91.66667%;
}

.item.xs-push-12-12 {
  right: 100%;
}

.item.xs-offset-0-12 {
  margin-left: 0%;
}

.item.xs-offset-1-12 {
  margin-left: 8.33333%;
}

.item.xs-offset-2-12 {
  margin-left: 16.66667%;
}

.item.xs-offset-3-12 {
  margin-left: 25%;
}

.item.xs-offset-4-12 {
  margin-left: 33.33333%;
}

.item.xs-offset-5-12 {
  margin-left: 41.66667%;
}

.item.xs-offset-6-12 {
  margin-left: 50%;
}

.item.xs-offset-7-12 {
  margin-left: 58.33333%;
}

.item.xs-offset-8-12 {
  margin-left: 66.66667%;
}

.item.xs-offset-9-12 {
  margin-left: 75%;
}

.item.xs-offset-10-12 {
  margin-left: 83.33333%;
}

.item.xs-offset-11-12 {
  margin-left: 91.66667%;
}

.item.xs-offset-12-12 {
  margin-left: 100%;
}

.item.xs-1-5 {
  float: left;
}

.item.xs-2-5 {
  float: left;
}

.item.xs-3-5 {
  float: left;
}

.item.xs-4-5 {
  float: left;
}

.item.xs-5-5 {
  float: left;
}

.item.xs-1-5 {
  width: 20%;
}

.item.xs-2-5 {
  width: 40%;
}

.item.xs-3-5 {
  width: 60%;
}

.item.xs-4-5 {
  width: 80%;
}

.item.xs-5-5 {
  width: 100%;
}

.item.xs-push-0 {
  left: auto;
}

.item.xs-push-1-5 {
  left: 20%;
}

.item.xs-push-2-5 {
  left: 40%;
}

.item.xs-push-3-5 {
  left: 60%;
}

.item.xs-push-4-5 {
  left: 80%;
}

.item.xs-push-5-5 {
  left: 100%;
}

.item.xs-pull-0 {
  right: auto;
}

.item.xs-push-1-5 {
  right: 20%;
}

.item.xs-push-2-5 {
  right: 40%;
}

.item.xs-push-3-5 {
  right: 60%;
}

.item.xs-push-4-5 {
  right: 80%;
}

.item.xs-push-5-5 {
  right: 100%;
}

.item.xs-offset-0-5 {
  margin-left: 0%;
}

.item.xs-offset-1-5 {
  margin-left: 20%;
}

.item.xs-offset-2-5 {
  margin-left: 40%;
}

.item.xs-offset-3-5 {
  margin-left: 60%;
}

.item.xs-offset-4-5 {
  margin-left: 80%;
}

.item.xs-offset-5-5 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .item.sm-1-24 {
    float: left;
  }

  .item.sm-2-24 {
    float: left;
  }

  .item.sm-3-24 {
    float: left;
  }

  .item.sm-4-24 {
    float: left;
  }

  .item.sm-5-24 {
    float: left;
  }

  .item.sm-6-24 {
    float: left;
  }

  .item.sm-7-24 {
    float: left;
  }

  .item.sm-8-24 {
    float: left;
  }

  .item.sm-9-24 {
    float: left;
  }

  .item.sm-10-24 {
    float: left;
  }

  .item.sm-11-24 {
    float: left;
  }

  .item.sm-12-24 {
    float: left;
  }

  .item.sm-13-24 {
    float: left;
  }

  .item.sm-14-24 {
    float: left;
  }

  .item.sm-15-24 {
    float: left;
  }

  .item.sm-16-24 {
    float: left;
  }

  .item.sm-17-24 {
    float: left;
  }

  .item.sm-18-24 {
    float: left;
  }

  .item.sm-19-24 {
    float: left;
  }

  .item.sm-20-24 {
    float: left;
  }

  .item.sm-21-24 {
    float: left;
  }

  .item.sm-22-24 {
    float: left;
  }

  .item.sm-23-24 {
    float: left;
  }

  .item.sm-24-24 {
    float: left;
  }

  .item.sm-1-24 {
    width: 4.16667%;
  }

  .item.sm-2-24 {
    width: 8.33333%;
  }

  .item.sm-3-24 {
    width: 12.5%;
  }

  .item.sm-4-24 {
    width: 16.66667%;
  }

  .item.sm-5-24 {
    width: 20.83333%;
  }

  .item.sm-6-24 {
    width: 25%;
  }

  .item.sm-7-24 {
    width: 29.16667%;
  }

  .item.sm-8-24 {
    width: 33.33333%;
  }

  .item.sm-9-24 {
    width: 37.5%;
  }

  .item.sm-10-24 {
    width: 41.66667%;
  }

  .item.sm-11-24 {
    width: 45.83333%;
  }

  .item.sm-12-24 {
    width: 50%;
  }

  .item.sm-13-24 {
    width: 54.16667%;
  }

  .item.sm-14-24 {
    width: 58.33333%;
  }

  .item.sm-15-24 {
    width: 62.5%;
  }

  .item.sm-16-24 {
    width: 66.66667%;
  }

  .item.sm-17-24 {
    width: 70.83333%;
  }

  .item.sm-18-24 {
    width: 75%;
  }

  .item.sm-19-24 {
    width: 79.16667%;
  }

  .item.sm-20-24 {
    width: 83.33333%;
  }

  .item.sm-21-24 {
    width: 87.5%;
  }

  .item.sm-22-24 {
    width: 91.66667%;
  }

  .item.sm-23-24 {
    width: 95.83333%;
  }

  .item.sm-24-24 {
    width: 100%;
  }

  .item.sm-push-0 {
    left: auto;
  }

  .item.sm-push-1-24 {
    left: 4.16667%;
  }

  .item.sm-push-2-24 {
    left: 8.33333%;
  }

  .item.sm-push-3-24 {
    left: 12.5%;
  }

  .item.sm-push-4-24 {
    left: 16.66667%;
  }

  .item.sm-push-5-24 {
    left: 20.83333%;
  }

  .item.sm-push-6-24 {
    left: 25%;
  }

  .item.sm-push-7-24 {
    left: 29.16667%;
  }

  .item.sm-push-8-24 {
    left: 33.33333%;
  }

  .item.sm-push-9-24 {
    left: 37.5%;
  }

  .item.sm-push-10-24 {
    left: 41.66667%;
  }

  .item.sm-push-11-24 {
    left: 45.83333%;
  }

  .item.sm-push-12-24 {
    left: 50%;
  }

  .item.sm-push-13-24 {
    left: 54.16667%;
  }

  .item.sm-push-14-24 {
    left: 58.33333%;
  }

  .item.sm-push-15-24 {
    left: 62.5%;
  }

  .item.sm-push-16-24 {
    left: 66.66667%;
  }

  .item.sm-push-17-24 {
    left: 70.83333%;
  }

  .item.sm-push-18-24 {
    left: 75%;
  }

  .item.sm-push-19-24 {
    left: 79.16667%;
  }

  .item.sm-push-20-24 {
    left: 83.33333%;
  }

  .item.sm-push-21-24 {
    left: 87.5%;
  }

  .item.sm-push-22-24 {
    left: 91.66667%;
  }

  .item.sm-push-23-24 {
    left: 95.83333%;
  }

  .item.sm-push-24-24 {
    left: 100%;
  }

  .item.sm-pull-0 {
    right: auto;
  }

  .item.sm-push-1-24 {
    right: 4.16667%;
  }

  .item.sm-push-2-24 {
    right: 8.33333%;
  }

  .item.sm-push-3-24 {
    right: 12.5%;
  }

  .item.sm-push-4-24 {
    right: 16.66667%;
  }

  .item.sm-push-5-24 {
    right: 20.83333%;
  }

  .item.sm-push-6-24 {
    right: 25%;
  }

  .item.sm-push-7-24 {
    right: 29.16667%;
  }

  .item.sm-push-8-24 {
    right: 33.33333%;
  }

  .item.sm-push-9-24 {
    right: 37.5%;
  }

  .item.sm-push-10-24 {
    right: 41.66667%;
  }

  .item.sm-push-11-24 {
    right: 45.83333%;
  }

  .item.sm-push-12-24 {
    right: 50%;
  }

  .item.sm-push-13-24 {
    right: 54.16667%;
  }

  .item.sm-push-14-24 {
    right: 58.33333%;
  }

  .item.sm-push-15-24 {
    right: 62.5%;
  }

  .item.sm-push-16-24 {
    right: 66.66667%;
  }

  .item.sm-push-17-24 {
    right: 70.83333%;
  }

  .item.sm-push-18-24 {
    right: 75%;
  }

  .item.sm-push-19-24 {
    right: 79.16667%;
  }

  .item.sm-push-20-24 {
    right: 83.33333%;
  }

  .item.sm-push-21-24 {
    right: 87.5%;
  }

  .item.sm-push-22-24 {
    right: 91.66667%;
  }

  .item.sm-push-23-24 {
    right: 95.83333%;
  }

  .item.sm-push-24-24 {
    right: 100%;
  }

  .item.sm-offset-0-24 {
    margin-left: 0%;
  }

  .item.sm-offset-1-24 {
    margin-left: 4.16667%;
  }

  .item.sm-offset-2-24 {
    margin-left: 8.33333%;
  }

  .item.sm-offset-3-24 {
    margin-left: 12.5%;
  }

  .item.sm-offset-4-24 {
    margin-left: 16.66667%;
  }

  .item.sm-offset-5-24 {
    margin-left: 20.83333%;
  }

  .item.sm-offset-6-24 {
    margin-left: 25%;
  }

  .item.sm-offset-7-24 {
    margin-left: 29.16667%;
  }

  .item.sm-offset-8-24 {
    margin-left: 33.33333%;
  }

  .item.sm-offset-9-24 {
    margin-left: 37.5%;
  }

  .item.sm-offset-10-24 {
    margin-left: 41.66667%;
  }

  .item.sm-offset-11-24 {
    margin-left: 45.83333%;
  }

  .item.sm-offset-12-24 {
    margin-left: 50%;
  }

  .item.sm-offset-13-24 {
    margin-left: 54.16667%;
  }

  .item.sm-offset-14-24 {
    margin-left: 58.33333%;
  }

  .item.sm-offset-15-24 {
    margin-left: 62.5%;
  }

  .item.sm-offset-16-24 {
    margin-left: 66.66667%;
  }

  .item.sm-offset-17-24 {
    margin-left: 70.83333%;
  }

  .item.sm-offset-18-24 {
    margin-left: 75%;
  }

  .item.sm-offset-19-24 {
    margin-left: 79.16667%;
  }

  .item.sm-offset-20-24 {
    margin-left: 83.33333%;
  }

  .item.sm-offset-21-24 {
    margin-left: 87.5%;
  }

  .item.sm-offset-22-24 {
    margin-left: 91.66667%;
  }

  .item.sm-offset-23-24 {
    margin-left: 95.83333%;
  }

  .item.sm-offset-24-24 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .item.sm-1-12 {
    float: left;
  }

  .item.sm-2-12 {
    float: left;
  }

  .item.sm-3-12 {
    float: left;
  }

  .item.sm-4-12 {
    float: left;
  }

  .item.sm-5-12 {
    float: left;
  }

  .item.sm-6-12 {
    float: left;
  }

  .item.sm-7-12 {
    float: left;
  }

  .item.sm-8-12 {
    float: left;
  }

  .item.sm-9-12 {
    float: left;
  }

  .item.sm-10-12 {
    float: left;
  }

  .item.sm-11-12 {
    float: left;
  }

  .item.sm-12-12 {
    float: left;
  }

  .item.sm-1-12 {
    width: 8.33333%;
  }

  .item.sm-2-12 {
    width: 16.66667%;
  }

  .item.sm-3-12 {
    width: 25%;
  }

  .item.sm-4-12 {
    width: 33.33333%;
  }

  .item.sm-5-12 {
    width: 41.66667%;
  }

  .item.sm-6-12 {
    width: 50%;
  }

  .item.sm-7-12 {
    width: 58.33333%;
  }

  .item.sm-8-12 {
    width: 66.66667%;
  }

  .item.sm-9-12 {
    width: 75%;
  }

  .item.sm-10-12 {
    width: 83.33333%;
  }

  .item.sm-11-12 {
    width: 91.66667%;
  }

  .item.sm-12-12 {
    width: 100%;
  }

  .item.sm-push-0 {
    left: auto;
  }

  .item.sm-push-1-12 {
    left: 8.33333%;
  }

  .item.sm-push-2-12 {
    left: 16.66667%;
  }

  .item.sm-push-3-12 {
    left: 25%;
  }

  .item.sm-push-4-12 {
    left: 33.33333%;
  }

  .item.sm-push-5-12 {
    left: 41.66667%;
  }

  .item.sm-push-6-12 {
    left: 50%;
  }

  .item.sm-push-7-12 {
    left: 58.33333%;
  }

  .item.sm-push-8-12 {
    left: 66.66667%;
  }

  .item.sm-push-9-12 {
    left: 75%;
  }

  .item.sm-push-10-12 {
    left: 83.33333%;
  }

  .item.sm-push-11-12 {
    left: 91.66667%;
  }

  .item.sm-push-12-12 {
    left: 100%;
  }

  .item.sm-pull-0 {
    right: auto;
  }

  .item.sm-push-1-12 {
    right: 8.33333%;
  }

  .item.sm-push-2-12 {
    right: 16.66667%;
  }

  .item.sm-push-3-12 {
    right: 25%;
  }

  .item.sm-push-4-12 {
    right: 33.33333%;
  }

  .item.sm-push-5-12 {
    right: 41.66667%;
  }

  .item.sm-push-6-12 {
    right: 50%;
  }

  .item.sm-push-7-12 {
    right: 58.33333%;
  }

  .item.sm-push-8-12 {
    right: 66.66667%;
  }

  .item.sm-push-9-12 {
    right: 75%;
  }

  .item.sm-push-10-12 {
    right: 83.33333%;
  }

  .item.sm-push-11-12 {
    right: 91.66667%;
  }

  .item.sm-push-12-12 {
    right: 100%;
  }

  .item.sm-offset-0-12 {
    margin-left: 0%;
  }

  .item.sm-offset-1-12 {
    margin-left: 8.33333%;
  }

  .item.sm-offset-2-12 {
    margin-left: 16.66667%;
  }

  .item.sm-offset-3-12 {
    margin-left: 25%;
  }

  .item.sm-offset-4-12 {
    margin-left: 33.33333%;
  }

  .item.sm-offset-5-12 {
    margin-left: 41.66667%;
  }

  .item.sm-offset-6-12 {
    margin-left: 50%;
  }

  .item.sm-offset-7-12 {
    margin-left: 58.33333%;
  }

  .item.sm-offset-8-12 {
    margin-left: 66.66667%;
  }

  .item.sm-offset-9-12 {
    margin-left: 75%;
  }

  .item.sm-offset-10-12 {
    margin-left: 83.33333%;
  }

  .item.sm-offset-11-12 {
    margin-left: 91.66667%;
  }

  .item.sm-offset-12-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .item.sm-1-5 {
    float: left;
  }

  .item.sm-2-5 {
    float: left;
  }

  .item.sm-3-5 {
    float: left;
  }

  .item.sm-4-5 {
    float: left;
  }

  .item.sm-5-5 {
    float: left;
  }

  .item.sm-1-5 {
    width: 20%;
  }

  .item.sm-2-5 {
    width: 40%;
  }

  .item.sm-3-5 {
    width: 60%;
  }

  .item.sm-4-5 {
    width: 80%;
  }

  .item.sm-5-5 {
    width: 100%;
  }

  .item.sm-push-0 {
    left: auto;
  }

  .item.sm-push-1-5 {
    left: 20%;
  }

  .item.sm-push-2-5 {
    left: 40%;
  }

  .item.sm-push-3-5 {
    left: 60%;
  }

  .item.sm-push-4-5 {
    left: 80%;
  }

  .item.sm-push-5-5 {
    left: 100%;
  }

  .item.sm-pull-0 {
    right: auto;
  }

  .item.sm-push-1-5 {
    right: 20%;
  }

  .item.sm-push-2-5 {
    right: 40%;
  }

  .item.sm-push-3-5 {
    right: 60%;
  }

  .item.sm-push-4-5 {
    right: 80%;
  }

  .item.sm-push-5-5 {
    right: 100%;
  }

  .item.sm-offset-0-5 {
    margin-left: 0%;
  }

  .item.sm-offset-1-5 {
    margin-left: 20%;
  }

  .item.sm-offset-2-5 {
    margin-left: 40%;
  }

  .item.sm-offset-3-5 {
    margin-left: 60%;
  }

  .item.sm-offset-4-5 {
    margin-left: 80%;
  }

  .item.sm-offset-5-5 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .item.md-1-24 {
    float: left;
  }

  .item.md-2-24 {
    float: left;
  }

  .item.md-3-24 {
    float: left;
  }

  .item.md-4-24 {
    float: left;
  }

  .item.md-5-24 {
    float: left;
  }

  .item.md-6-24 {
    float: left;
  }

  .item.md-7-24 {
    float: left;
  }

  .item.md-8-24 {
    float: left;
  }

  .item.md-9-24 {
    float: left;
  }

  .item.md-10-24 {
    float: left;
  }

  .item.md-11-24 {
    float: left;
  }

  .item.md-12-24 {
    float: left;
  }

  .item.md-13-24 {
    float: left;
  }

  .item.md-14-24 {
    float: left;
  }

  .item.md-15-24 {
    float: left;
  }

  .item.md-16-24 {
    float: left;
  }

  .item.md-17-24 {
    float: left;
  }

  .item.md-18-24 {
    float: left;
  }

  .item.md-19-24 {
    float: left;
  }

  .item.md-20-24 {
    float: left;
  }

  .item.md-21-24 {
    float: left;
  }

  .item.md-22-24 {
    float: left;
  }

  .item.md-23-24 {
    float: left;
  }

  .item.md-24-24 {
    float: left;
  }

  .item.md-1-24 {
    width: 4.16667%;
  }

  .item.md-2-24 {
    width: 8.33333%;
  }

  .item.md-3-24 {
    width: 12.5%;
  }

  .item.md-4-24 {
    width: 16.66667%;
  }

  .item.md-5-24 {
    width: 20.83333%;
  }

  .item.md-6-24 {
    width: 25%;
  }

  .item.md-7-24 {
    width: 29.16667%;
  }

  .item.md-8-24 {
    width: 33.33333%;
  }

  .item.md-9-24 {
    width: 37.5%;
  }

  .item.md-10-24 {
    width: 41.66667%;
  }

  .item.md-11-24 {
    width: 45.83333%;
  }

  .item.md-12-24 {
    width: 50%;
  }

  .item.md-13-24 {
    width: 54.16667%;
  }

  .item.md-14-24 {
    width: 58.33333%;
  }

  .item.md-15-24 {
    width: 62.5%;
  }

  .item.md-16-24 {
    width: 66.66667%;
  }

  .item.md-17-24 {
    width: 70.83333%;
  }

  .item.md-18-24 {
    width: 75%;
  }

  .item.md-19-24 {
    width: 79.16667%;
  }

  .item.md-20-24 {
    width: 83.33333%;
  }

  .item.md-21-24 {
    width: 87.5%;
  }

  .item.md-22-24 {
    width: 91.66667%;
  }

  .item.md-23-24 {
    width: 95.83333%;
  }

  .item.md-24-24 {
    width: 100%;
  }

  .item.md-push-0 {
    left: auto;
  }

  .item.md-push-1-24 {
    left: 4.16667%;
  }

  .item.md-push-2-24 {
    left: 8.33333%;
  }

  .item.md-push-3-24 {
    left: 12.5%;
  }

  .item.md-push-4-24 {
    left: 16.66667%;
  }

  .item.md-push-5-24 {
    left: 20.83333%;
  }

  .item.md-push-6-24 {
    left: 25%;
  }

  .item.md-push-7-24 {
    left: 29.16667%;
  }

  .item.md-push-8-24 {
    left: 33.33333%;
  }

  .item.md-push-9-24 {
    left: 37.5%;
  }

  .item.md-push-10-24 {
    left: 41.66667%;
  }

  .item.md-push-11-24 {
    left: 45.83333%;
  }

  .item.md-push-12-24 {
    left: 50%;
  }

  .item.md-push-13-24 {
    left: 54.16667%;
  }

  .item.md-push-14-24 {
    left: 58.33333%;
  }

  .item.md-push-15-24 {
    left: 62.5%;
  }

  .item.md-push-16-24 {
    left: 66.66667%;
  }

  .item.md-push-17-24 {
    left: 70.83333%;
  }

  .item.md-push-18-24 {
    left: 75%;
  }

  .item.md-push-19-24 {
    left: 79.16667%;
  }

  .item.md-push-20-24 {
    left: 83.33333%;
  }

  .item.md-push-21-24 {
    left: 87.5%;
  }

  .item.md-push-22-24 {
    left: 91.66667%;
  }

  .item.md-push-23-24 {
    left: 95.83333%;
  }

  .item.md-push-24-24 {
    left: 100%;
  }

  .item.md-pull-0 {
    right: auto;
  }

  .item.md-push-1-24 {
    right: 4.16667%;
  }

  .item.md-push-2-24 {
    right: 8.33333%;
  }

  .item.md-push-3-24 {
    right: 12.5%;
  }

  .item.md-push-4-24 {
    right: 16.66667%;
  }

  .item.md-push-5-24 {
    right: 20.83333%;
  }

  .item.md-push-6-24 {
    right: 25%;
  }

  .item.md-push-7-24 {
    right: 29.16667%;
  }

  .item.md-push-8-24 {
    right: 33.33333%;
  }

  .item.md-push-9-24 {
    right: 37.5%;
  }

  .item.md-push-10-24 {
    right: 41.66667%;
  }

  .item.md-push-11-24 {
    right: 45.83333%;
  }

  .item.md-push-12-24 {
    right: 50%;
  }

  .item.md-push-13-24 {
    right: 54.16667%;
  }

  .item.md-push-14-24 {
    right: 58.33333%;
  }

  .item.md-push-15-24 {
    right: 62.5%;
  }

  .item.md-push-16-24 {
    right: 66.66667%;
  }

  .item.md-push-17-24 {
    right: 70.83333%;
  }

  .item.md-push-18-24 {
    right: 75%;
  }

  .item.md-push-19-24 {
    right: 79.16667%;
  }

  .item.md-push-20-24 {
    right: 83.33333%;
  }

  .item.md-push-21-24 {
    right: 87.5%;
  }

  .item.md-push-22-24 {
    right: 91.66667%;
  }

  .item.md-push-23-24 {
    right: 95.83333%;
  }

  .item.md-push-24-24 {
    right: 100%;
  }

  .item.md-offset-0-24 {
    margin-left: 0%;
  }

  .item.md-offset-1-24 {
    margin-left: 4.16667%;
  }

  .item.md-offset-2-24 {
    margin-left: 8.33333%;
  }

  .item.md-offset-3-24 {
    margin-left: 12.5%;
  }

  .item.md-offset-4-24 {
    margin-left: 16.66667%;
  }

  .item.md-offset-5-24 {
    margin-left: 20.83333%;
  }

  .item.md-offset-6-24 {
    margin-left: 25%;
  }

  .item.md-offset-7-24 {
    margin-left: 29.16667%;
  }

  .item.md-offset-8-24 {
    margin-left: 33.33333%;
  }

  .item.md-offset-9-24 {
    margin-left: 37.5%;
  }

  .item.md-offset-10-24 {
    margin-left: 41.66667%;
  }

  .item.md-offset-11-24 {
    margin-left: 45.83333%;
  }

  .item.md-offset-12-24 {
    margin-left: 50%;
  }

  .item.md-offset-13-24 {
    margin-left: 54.16667%;
  }

  .item.md-offset-14-24 {
    margin-left: 58.33333%;
  }

  .item.md-offset-15-24 {
    margin-left: 62.5%;
  }

  .item.md-offset-16-24 {
    margin-left: 66.66667%;
  }

  .item.md-offset-17-24 {
    margin-left: 70.83333%;
  }

  .item.md-offset-18-24 {
    margin-left: 75%;
  }

  .item.md-offset-19-24 {
    margin-left: 79.16667%;
  }

  .item.md-offset-20-24 {
    margin-left: 83.33333%;
  }

  .item.md-offset-21-24 {
    margin-left: 87.5%;
  }

  .item.md-offset-22-24 {
    margin-left: 91.66667%;
  }

  .item.md-offset-23-24 {
    margin-left: 95.83333%;
  }

  .item.md-offset-24-24 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .item.md-1-12 {
    float: left;
  }

  .item.md-2-12 {
    float: left;
  }

  .item.md-3-12 {
    float: left;
  }

  .item.md-4-12 {
    float: left;
  }

  .item.md-5-12 {
    float: left;
  }

  .item.md-6-12 {
    float: left;
  }

  .item.md-7-12 {
    float: left;
  }

  .item.md-8-12 {
    float: left;
  }

  .item.md-9-12 {
    float: left;
  }

  .item.md-10-12 {
    float: left;
  }

  .item.md-11-12 {
    float: left;
  }

  .item.md-12-12 {
    float: left;
  }

  .item.md-1-12 {
    width: 8.33333%;
  }

  .item.md-2-12 {
    width: 16.66667%;
  }

  .item.md-3-12 {
    width: 25%;
  }

  .item.md-4-12 {
    width: 33.33333%;
  }

  .item.md-5-12 {
    width: 41.66667%;
  }

  .item.md-6-12 {
    width: 50%;
  }

  .item.md-7-12 {
    width: 58.33333%;
  }

  .item.md-8-12 {
    width: 66.66667%;
  }

  .item.md-9-12 {
    width: 75%;
  }

  .item.md-10-12 {
    width: 83.33333%;
  }

  .item.md-11-12 {
    width: 91.66667%;
  }

  .item.md-12-12 {
    width: 100%;
  }

  .item.md-push-0 {
    left: auto;
  }

  .item.md-push-1-12 {
    left: 8.33333%;
  }

  .item.md-push-2-12 {
    left: 16.66667%;
  }

  .item.md-push-3-12 {
    left: 25%;
  }

  .item.md-push-4-12 {
    left: 33.33333%;
  }

  .item.md-push-5-12 {
    left: 41.66667%;
  }

  .item.md-push-6-12 {
    left: 50%;
  }

  .item.md-push-7-12 {
    left: 58.33333%;
  }

  .item.md-push-8-12 {
    left: 66.66667%;
  }

  .item.md-push-9-12 {
    left: 75%;
  }

  .item.md-push-10-12 {
    left: 83.33333%;
  }

  .item.md-push-11-12 {
    left: 91.66667%;
  }

  .item.md-push-12-12 {
    left: 100%;
  }

  .item.md-pull-0 {
    right: auto;
  }

  .item.md-push-1-12 {
    right: 8.33333%;
  }

  .item.md-push-2-12 {
    right: 16.66667%;
  }

  .item.md-push-3-12 {
    right: 25%;
  }

  .item.md-push-4-12 {
    right: 33.33333%;
  }

  .item.md-push-5-12 {
    right: 41.66667%;
  }

  .item.md-push-6-12 {
    right: 50%;
  }

  .item.md-push-7-12 {
    right: 58.33333%;
  }

  .item.md-push-8-12 {
    right: 66.66667%;
  }

  .item.md-push-9-12 {
    right: 75%;
  }

  .item.md-push-10-12 {
    right: 83.33333%;
  }

  .item.md-push-11-12 {
    right: 91.66667%;
  }

  .item.md-push-12-12 {
    right: 100%;
  }

  .item.md-offset-0-12 {
    margin-left: 0%;
  }

  .item.md-offset-1-12 {
    margin-left: 8.33333%;
  }

  .item.md-offset-2-12 {
    margin-left: 16.66667%;
  }

  .item.md-offset-3-12 {
    margin-left: 25%;
  }

  .item.md-offset-4-12 {
    margin-left: 33.33333%;
  }

  .item.md-offset-5-12 {
    margin-left: 41.66667%;
  }

  .item.md-offset-6-12 {
    margin-left: 50%;
  }

  .item.md-offset-7-12 {
    margin-left: 58.33333%;
  }

  .item.md-offset-8-12 {
    margin-left: 66.66667%;
  }

  .item.md-offset-9-12 {
    margin-left: 75%;
  }

  .item.md-offset-10-12 {
    margin-left: 83.33333%;
  }

  .item.md-offset-11-12 {
    margin-left: 91.66667%;
  }

  .item.md-offset-12-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .item.md-1-5 {
    float: left;
  }

  .item.md-2-5 {
    float: left;
  }

  .item.md-3-5 {
    float: left;
  }

  .item.md-4-5 {
    float: left;
  }

  .item.md-5-5 {
    float: left;
  }

  .item.md-1-5 {
    width: 20%;
  }

  .item.md-2-5 {
    width: 40%;
  }

  .item.md-3-5 {
    width: 60%;
  }

  .item.md-4-5 {
    width: 80%;
  }

  .item.md-5-5 {
    width: 100%;
  }

  .item.md-push-0 {
    left: auto;
  }

  .item.md-push-1-5 {
    left: 20%;
  }

  .item.md-push-2-5 {
    left: 40%;
  }

  .item.md-push-3-5 {
    left: 60%;
  }

  .item.md-push-4-5 {
    left: 80%;
  }

  .item.md-push-5-5 {
    left: 100%;
  }

  .item.md-pull-0 {
    right: auto;
  }

  .item.md-push-1-5 {
    right: 20%;
  }

  .item.md-push-2-5 {
    right: 40%;
  }

  .item.md-push-3-5 {
    right: 60%;
  }

  .item.md-push-4-5 {
    right: 80%;
  }

  .item.md-push-5-5 {
    right: 100%;
  }

  .item.md-offset-0-5 {
    margin-left: 0%;
  }

  .item.md-offset-1-5 {
    margin-left: 20%;
  }

  .item.md-offset-2-5 {
    margin-left: 40%;
  }

  .item.md-offset-3-5 {
    margin-left: 60%;
  }

  .item.md-offset-4-5 {
    margin-left: 80%;
  }

  .item.md-offset-5-5 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .item.lg-1-24 {
    float: left;
  }

  .item.lg-2-24 {
    float: left;
  }

  .item.lg-3-24 {
    float: left;
  }

  .item.lg-4-24 {
    float: left;
  }

  .item.lg-5-24 {
    float: left;
  }

  .item.lg-6-24 {
    float: left;
  }

  .item.lg-7-24 {
    float: left;
  }

  .item.lg-8-24 {
    float: left;
  }

  .item.lg-9-24 {
    float: left;
  }

  .item.lg-10-24 {
    float: left;
  }

  .item.lg-11-24 {
    float: left;
  }

  .item.lg-12-24 {
    float: left;
  }

  .item.lg-13-24 {
    float: left;
  }

  .item.lg-14-24 {
    float: left;
  }

  .item.lg-15-24 {
    float: left;
  }

  .item.lg-16-24 {
    float: left;
  }

  .item.lg-17-24 {
    float: left;
  }

  .item.lg-18-24 {
    float: left;
  }

  .item.lg-19-24 {
    float: left;
  }

  .item.lg-20-24 {
    float: left;
  }

  .item.lg-21-24 {
    float: left;
  }

  .item.lg-22-24 {
    float: left;
  }

  .item.lg-23-24 {
    float: left;
  }

  .item.lg-24-24 {
    float: left;
  }

  .item.lg-1-24 {
    width: 4.16667%;
  }

  .item.lg-2-24 {
    width: 8.33333%;
  }

  .item.lg-3-24 {
    width: 12.5%;
  }

  .item.lg-4-24 {
    width: 16.66667%;
  }

  .item.lg-5-24 {
    width: 20.83333%;
  }

  .item.lg-6-24 {
    width: 25%;
  }

  .item.lg-7-24 {
    width: 29.16667%;
  }

  .item.lg-8-24 {
    width: 33.33333%;
  }

  .item.lg-9-24 {
    width: 37.5%;
  }

  .item.lg-10-24 {
    width: 41.66667%;
  }

  .item.lg-11-24 {
    width: 45.83333%;
  }

  .item.lg-12-24 {
    width: 50%;
  }

  .item.lg-13-24 {
    width: 54.16667%;
  }

  .item.lg-14-24 {
    width: 58.33333%;
  }

  .item.lg-15-24 {
    width: 62.5%;
  }

  .item.lg-16-24 {
    width: 66.66667%;
  }

  .item.lg-17-24 {
    width: 70.83333%;
  }

  .item.lg-18-24 {
    width: 75%;
  }

  .item.lg-19-24 {
    width: 79.16667%;
  }

  .item.lg-20-24 {
    width: 83.33333%;
  }

  .item.lg-21-24 {
    width: 87.5%;
  }

  .item.lg-22-24 {
    width: 91.66667%;
  }

  .item.lg-23-24 {
    width: 95.83333%;
  }

  .item.lg-24-24 {
    width: 100%;
  }

  .item.lg-push-0 {
    left: auto;
  }

  .item.lg-push-1-24 {
    left: 4.16667%;
  }

  .item.lg-push-2-24 {
    left: 8.33333%;
  }

  .item.lg-push-3-24 {
    left: 12.5%;
  }

  .item.lg-push-4-24 {
    left: 16.66667%;
  }

  .item.lg-push-5-24 {
    left: 20.83333%;
  }

  .item.lg-push-6-24 {
    left: 25%;
  }

  .item.lg-push-7-24 {
    left: 29.16667%;
  }

  .item.lg-push-8-24 {
    left: 33.33333%;
  }

  .item.lg-push-9-24 {
    left: 37.5%;
  }

  .item.lg-push-10-24 {
    left: 41.66667%;
  }

  .item.lg-push-11-24 {
    left: 45.83333%;
  }

  .item.lg-push-12-24 {
    left: 50%;
  }

  .item.lg-push-13-24 {
    left: 54.16667%;
  }

  .item.lg-push-14-24 {
    left: 58.33333%;
  }

  .item.lg-push-15-24 {
    left: 62.5%;
  }

  .item.lg-push-16-24 {
    left: 66.66667%;
  }

  .item.lg-push-17-24 {
    left: 70.83333%;
  }

  .item.lg-push-18-24 {
    left: 75%;
  }

  .item.lg-push-19-24 {
    left: 79.16667%;
  }

  .item.lg-push-20-24 {
    left: 83.33333%;
  }

  .item.lg-push-21-24 {
    left: 87.5%;
  }

  .item.lg-push-22-24 {
    left: 91.66667%;
  }

  .item.lg-push-23-24 {
    left: 95.83333%;
  }

  .item.lg-push-24-24 {
    left: 100%;
  }

  .item.lg-pull-0 {
    right: auto;
  }

  .item.lg-push-1-24 {
    right: 4.16667%;
  }

  .item.lg-push-2-24 {
    right: 8.33333%;
  }

  .item.lg-push-3-24 {
    right: 12.5%;
  }

  .item.lg-push-4-24 {
    right: 16.66667%;
  }

  .item.lg-push-5-24 {
    right: 20.83333%;
  }

  .item.lg-push-6-24 {
    right: 25%;
  }

  .item.lg-push-7-24 {
    right: 29.16667%;
  }

  .item.lg-push-8-24 {
    right: 33.33333%;
  }

  .item.lg-push-9-24 {
    right: 37.5%;
  }

  .item.lg-push-10-24 {
    right: 41.66667%;
  }

  .item.lg-push-11-24 {
    right: 45.83333%;
  }

  .item.lg-push-12-24 {
    right: 50%;
  }

  .item.lg-push-13-24 {
    right: 54.16667%;
  }

  .item.lg-push-14-24 {
    right: 58.33333%;
  }

  .item.lg-push-15-24 {
    right: 62.5%;
  }

  .item.lg-push-16-24 {
    right: 66.66667%;
  }

  .item.lg-push-17-24 {
    right: 70.83333%;
  }

  .item.lg-push-18-24 {
    right: 75%;
  }

  .item.lg-push-19-24 {
    right: 79.16667%;
  }

  .item.lg-push-20-24 {
    right: 83.33333%;
  }

  .item.lg-push-21-24 {
    right: 87.5%;
  }

  .item.lg-push-22-24 {
    right: 91.66667%;
  }

  .item.lg-push-23-24 {
    right: 95.83333%;
  }

  .item.lg-push-24-24 {
    right: 100%;
  }

  .item.lg-offset-0-24 {
    margin-left: 0%;
  }

  .item.lg-offset-1-24 {
    margin-left: 4.16667%;
  }

  .item.lg-offset-2-24 {
    margin-left: 8.33333%;
  }

  .item.lg-offset-3-24 {
    margin-left: 12.5%;
  }

  .item.lg-offset-4-24 {
    margin-left: 16.66667%;
  }

  .item.lg-offset-5-24 {
    margin-left: 20.83333%;
  }

  .item.lg-offset-6-24 {
    margin-left: 25%;
  }

  .item.lg-offset-7-24 {
    margin-left: 29.16667%;
  }

  .item.lg-offset-8-24 {
    margin-left: 33.33333%;
  }

  .item.lg-offset-9-24 {
    margin-left: 37.5%;
  }

  .item.lg-offset-10-24 {
    margin-left: 41.66667%;
  }

  .item.lg-offset-11-24 {
    margin-left: 45.83333%;
  }

  .item.lg-offset-12-24 {
    margin-left: 50%;
  }

  .item.lg-offset-13-24 {
    margin-left: 54.16667%;
  }

  .item.lg-offset-14-24 {
    margin-left: 58.33333%;
  }

  .item.lg-offset-15-24 {
    margin-left: 62.5%;
  }

  .item.lg-offset-16-24 {
    margin-left: 66.66667%;
  }

  .item.lg-offset-17-24 {
    margin-left: 70.83333%;
  }

  .item.lg-offset-18-24 {
    margin-left: 75%;
  }

  .item.lg-offset-19-24 {
    margin-left: 79.16667%;
  }

  .item.lg-offset-20-24 {
    margin-left: 83.33333%;
  }

  .item.lg-offset-21-24 {
    margin-left: 87.5%;
  }

  .item.lg-offset-22-24 {
    margin-left: 91.66667%;
  }

  .item.lg-offset-23-24 {
    margin-left: 95.83333%;
  }

  .item.lg-offset-24-24 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .item.lg-1-12 {
    float: left;
  }

  .item.lg-2-12 {
    float: left;
  }

  .item.lg-3-12 {
    float: left;
  }

  .item.lg-4-12 {
    float: left;
  }

  .item.lg-5-12 {
    float: left;
  }

  .item.lg-6-12 {
    float: left;
  }

  .item.lg-7-12 {
    float: left;
  }

  .item.lg-8-12 {
    float: left;
  }

  .item.lg-9-12 {
    float: left;
  }

  .item.lg-10-12 {
    float: left;
  }

  .item.lg-11-12 {
    float: left;
  }

  .item.lg-12-12 {
    float: left;
  }

  .item.lg-1-12 {
    width: 8.33333%;
  }

  .item.lg-2-12 {
    width: 16.66667%;
  }

  .item.lg-3-12 {
    width: 25%;
  }

  .item.lg-4-12 {
    width: 33.33333%;
  }

  .item.lg-5-12 {
    width: 41.66667%;
  }

  .item.lg-6-12 {
    width: 50%;
  }

  .item.lg-7-12 {
    width: 58.33333%;
  }

  .item.lg-8-12 {
    width: 66.66667%;
  }

  .item.lg-9-12 {
    width: 75%;
  }

  .item.lg-10-12 {
    width: 83.33333%;
  }

  .item.lg-11-12 {
    width: 91.66667%;
  }

  .item.lg-12-12 {
    width: 100%;
  }

  .item.lg-push-0 {
    left: auto;
  }

  .item.lg-push-1-12 {
    left: 8.33333%;
  }

  .item.lg-push-2-12 {
    left: 16.66667%;
  }

  .item.lg-push-3-12 {
    left: 25%;
  }

  .item.lg-push-4-12 {
    left: 33.33333%;
  }

  .item.lg-push-5-12 {
    left: 41.66667%;
  }

  .item.lg-push-6-12 {
    left: 50%;
  }

  .item.lg-push-7-12 {
    left: 58.33333%;
  }

  .item.lg-push-8-12 {
    left: 66.66667%;
  }

  .item.lg-push-9-12 {
    left: 75%;
  }

  .item.lg-push-10-12 {
    left: 83.33333%;
  }

  .item.lg-push-11-12 {
    left: 91.66667%;
  }

  .item.lg-push-12-12 {
    left: 100%;
  }

  .item.lg-pull-0 {
    right: auto;
  }

  .item.lg-push-1-12 {
    right: 8.33333%;
  }

  .item.lg-push-2-12 {
    right: 16.66667%;
  }

  .item.lg-push-3-12 {
    right: 25%;
  }

  .item.lg-push-4-12 {
    right: 33.33333%;
  }

  .item.lg-push-5-12 {
    right: 41.66667%;
  }

  .item.lg-push-6-12 {
    right: 50%;
  }

  .item.lg-push-7-12 {
    right: 58.33333%;
  }

  .item.lg-push-8-12 {
    right: 66.66667%;
  }

  .item.lg-push-9-12 {
    right: 75%;
  }

  .item.lg-push-10-12 {
    right: 83.33333%;
  }

  .item.lg-push-11-12 {
    right: 91.66667%;
  }

  .item.lg-push-12-12 {
    right: 100%;
  }

  .item.lg-offset-0-12 {
    margin-left: 0%;
  }

  .item.lg-offset-1-12 {
    margin-left: 8.33333%;
  }

  .item.lg-offset-2-12 {
    margin-left: 16.66667%;
  }

  .item.lg-offset-3-12 {
    margin-left: 25%;
  }

  .item.lg-offset-4-12 {
    margin-left: 33.33333%;
  }

  .item.lg-offset-5-12 {
    margin-left: 41.66667%;
  }

  .item.lg-offset-6-12 {
    margin-left: 50%;
  }

  .item.lg-offset-7-12 {
    margin-left: 58.33333%;
  }

  .item.lg-offset-8-12 {
    margin-left: 66.66667%;
  }

  .item.lg-offset-9-12 {
    margin-left: 75%;
  }

  .item.lg-offset-10-12 {
    margin-left: 83.33333%;
  }

  .item.lg-offset-11-12 {
    margin-left: 91.66667%;
  }

  .item.lg-offset-12-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .item.lg-1-5 {
    float: left;
  }

  .item.lg-2-5 {
    float: left;
  }

  .item.lg-3-5 {
    float: left;
  }

  .item.lg-4-5 {
    float: left;
  }

  .item.lg-5-5 {
    float: left;
  }

  .item.lg-1-5 {
    width: 20%;
  }

  .item.lg-2-5 {
    width: 40%;
  }

  .item.lg-3-5 {
    width: 60%;
  }

  .item.lg-4-5 {
    width: 80%;
  }

  .item.lg-5-5 {
    width: 100%;
  }

  .item.lg-push-0 {
    left: auto;
  }

  .item.lg-push-1-5 {
    left: 20%;
  }

  .item.lg-push-2-5 {
    left: 40%;
  }

  .item.lg-push-3-5 {
    left: 60%;
  }

  .item.lg-push-4-5 {
    left: 80%;
  }

  .item.lg-push-5-5 {
    left: 100%;
  }

  .item.lg-pull-0 {
    right: auto;
  }

  .item.lg-push-1-5 {
    right: 20%;
  }

  .item.lg-push-2-5 {
    right: 40%;
  }

  .item.lg-push-3-5 {
    right: 60%;
  }

  .item.lg-push-4-5 {
    right: 80%;
  }

  .item.lg-push-5-5 {
    right: 100%;
  }

  .item.lg-offset-0-5 {
    margin-left: 0%;
  }

  .item.lg-offset-1-5 {
    margin-left: 20%;
  }

  .item.lg-offset-2-5 {
    margin-left: 40%;
  }

  .item.lg-offset-3-5 {
    margin-left: 60%;
  }

  .item.lg-offset-4-5 {
    margin-left: 80%;
  }

  .item.lg-offset-5-5 {
    margin-left: 100%;
  }
}
