$bases: 24 12 5

.grid,
.item
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.item
    position: relative
    min-height: 1px

// df
@each $base in $bases
    @for $i from 1 through $base
        .item.df-#{$i}-#{$base}
            float: left

    @for $i from 1 through $base
        .item.df-#{$i}-#{$base}
            width: percentage($i / $base)

    .item.df-push-0
        left: auto
    @for $i from 1 through $base
        .item.df-push-#{$i}-#{$base}
            left: percentage($i / $base)

    .item.df-pull-0
        right: auto
    @for $i from 1 through $base
        .item.df-push-#{$i}-#{$base}
            right: percentage($i / $base)

    @for $i from 0 through $base
        .item.df-offset-#{$i}-#{$base}
            margin-left: percentage($i / $base)

@for $i from 1 through 30
    .grid.df-gutter-#{$i * 2}
        margin-right: #{-1 * $i}px
        margin-left: #{-1 * $i}px

        > .item
            padding-right: #{$i}px
            padding-left: #{$i}px


// sm
@media (min-width: 568px)
    @each $base in $bases
        @for $i from 1 through $base
            .item.sm-#{$i}-#{$base}
                float: left

        @for $i from 1 through $base
            .item.sm-#{$i}-#{$base}
                width: percentage($i / $base)

        .item.sm-push-0
            left: auto
        @for $i from 1 through $base
            .item.sm-push-#{$i}-#{$base}
                left: percentage($i / $base)

        .item.sm-pull-0
            right: auto
        @for $i from 1 through $base
            .item.sm-push-#{$i}-#{$base}
                right: percentage($i / $base)

        @for $i from 0 through $base
            .item.sm-offset-#{$i}-#{$base}
                margin-left: percentage($i / $base)

    @for $i from 1 through 30
        .grid.sm-gutter-#{$i * 2}
            margin-right: #{-1 * $i}px
            margin-left: #{-1 * $i}px

            > .item
                padding-right: #{$i}px
                padding-left: #{$i}px


// md
@media (min-width: 768px)
    @each $base in $bases
        @for $i from 1 through $base
            .item.md-#{$i}-#{$base}
                float: left

        @for $i from 1 through $base
            .item.md-#{$i}-#{$base}
                width: percentage($i / $base)

        .item.md-push-0
            left: auto
        @for $i from 1 through $base
            .item.md-push-#{$i}-#{$base}
                left: percentage($i / $base)

        .item.md-pull-0
            right: auto
        @for $i from 1 through $base
            .item.md-push-#{$i}-#{$base}
                right: percentage($i / $base)

        @for $i from 0 through $base
            .item.md-offset-#{$i}-#{$base}
                margin-left: percentage($i / $base)

    @for $i from 1 through 30
        .grid.md-gutter-#{$i * 2}
            margin-right: #{-1 * $i}px
            margin-left: #{-1 * $i}px

            > .item
                padding-right: #{$i}px
                padding-left: #{$i}px


// lg
@media (min-width: 1024px)
    @each $base in $bases
        @for $i from 1 through $base
            .item.lg-#{$i}-#{$base}
                float: left

        @for $i from 1 through $base
            .item.lg-#{$i}-#{$base}
                width: percentage($i / $base)

        .item.lg-push-0
            left: auto
        @for $i from 1 through $base
            .item.lg-push-#{$i}-#{$base}
                left: percentage($i / $base)

        .item.lg-pull-0
            right: auto
        @for $i from 1 through $base
            .item.lg-push-#{$i}-#{$base}
                right: percentage($i / $base)

        @for $i from 0 through $base
            .item.lg-offset-#{$i}-#{$base}
                margin-left: percentage($i / $base)

    @for $i from 1 through 30
        .grid.lg-gutter-#{$i * 2}
            margin-right: #{-1 * $i}px
            margin-left: #{-1 * $i}px

            > .item
                padding-right: #{$i}px
                padding-left: #{$i}px


// xl
@media (min-width: 1280px)
    @each $base in $bases
        @for $i from 1 through $base
            .item.xl-#{$i}-#{$base}
                float: left

        @for $i from 1 through $base
            .item.xl-#{$i}-#{$base}
                width: percentage($i / $base)

        .item.xl-push-0
            left: auto
        @for $i from 1 through $base
            .item.xl-push-#{$i}-#{$base}
                left: percentage($i / $base)

        .item.xl-pull-0
            right: auto
        @for $i from 1 through $base
            .item.xl-push-#{$i}-#{$base}
                right: percentage($i / $base)

        @for $i from 0 through $base
            .item.xl-offset-#{$i}-#{$base}
                margin-left: percentage($i / $base)

    @for $i from 1 through 30
        .grid.xl-gutter-#{$i * 2}
            margin-right: #{-1 * $i}px
            margin-left: #{-1 * $i}px

            > .item
                padding-right: #{$i}px
                padding-left: #{$i}px
